{% extends "base.html" %}

{% block title %}Connexion Administrateur - Portail WiFi{% endblock %}

{% block body_class %}admin-login-body{% endblock %} {# Ajout de la classe spécifique au body #}

{% block body %}
    <div class="container admin-login-container"> {# Ajout de la classe spécifique au conteneur #}
        <div class="header admin-login-header">
            <h1>Connexion Administrateur</h1>
            <p>Accédez au tableau de bord de gestion du du portail WiFi.</p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message {{ category }}" style="display: block;">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('admin_login') }}">
            <div class="form-group admin-login-form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" required 
                       placeholder="Nom d'utilisateur admin">
            </div>

            <div class="form-group admin-login-form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" required 
                       placeholder="Mot de passe admin">
            </div>

            <button type="submit" class="btn admin-login-btn">Se Connecter</button>
        </form>
    </div>
{% endblock %}
